#nav{
    background: rgba(227, 20, 20, 0.1);
  backdrop-filter: blur(10px); /* تأثير الضبابية */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
    
    /* display: flex; */
 
    /* background-color: aqua; */
    /* height: 120px; */
}

ul{
    list-style: none;
    display: flex;
    gap: 80px;
   
    margin-left: 30%;
    margin-top: 30px;
}